altgraph==0.17.2
astroid==2.11.2
auto-py-to-exe==2.18.2
autopep8==1.6.0
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
chromedriver-autoinstaller==0.3.1
commonmark==0.9.1
dill==0.3.4
Eel==0.12.4
entrypoints==0.3
fake-headers==1.0.2
flake8==4.0.1
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
html-to-json==2.0.0
html5lib==1.1
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==4.8.0
macholib==1.16
mccabe==0.6.1
msgpack==1.0.3
mypy==0.942
mypy-extensions==0.4.3
numpy==1.22.3
pandas==1.4.2
platformdirs==2.5.1
pluggy==1.0.0
pprintpp==0.4.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pylint==2.13.4
pyls-isort==0.2.2
pylsp-mypy==0.5.7
PyMySQL==1.0.2
pynvim==0.4.3
PySimpleGUI==4.59.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
pytz==2022.1
requests==2.27.1
rich==12.2.0
rope==0.23.0
snowballstemmer==2.2.0
soupsieve==2.3.1
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.1.1
ujson==5.2.0
urllib3==1.26.9
webencodings==0.5.1
whichcraft==0.6.1
wrapt==1.14.0
yapf==0.32.0
zope.event==4.5.0
zope.interface==5.4.0
